/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package com.venti1112.edgecube.api.apis

import com.venti1112.edgecube.api.models.CommandRequest
import com.venti1112.edgecube.api.models.ErrorResponse
import com.venti1112.edgecube.api.models.ExportRequest
import com.venti1112.edgecube.api.models.InstanceConfig
import com.venti1112.edgecube.api.models.InstanceDetail
import com.venti1112.edgecube.api.models.InstanceOverview
import com.venti1112.edgecube.api.models.InstancePage
import com.venti1112.edgecube.api.models.JobAccepted
import com.venti1112.edgecube.api.models.LogResponse

import com.venti1112.edgecube.api.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder

    open class InstancesApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
    ) {

        /**
        * POST /instances
        * 创建实例
        * 
         * @param instanceConfig  
         * @return InstanceConfig
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun createInstance(instanceConfig: InstanceConfig): HttpResponse<InstanceConfig> {

            val localVariableAuthNames = listOf<String>("BearerAuth")

            val localVariableBody = instanceConfig

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/instances",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * DELETE /instances/{instanceId}
        * 删除实例
        * 运行中的实例必须先停止;仅删除配置与进程,不删除工作目录。
         * @param instanceId 实例 id(uuid) 
         * @return void
        */
        open suspend fun deleteInstance(instanceId: java.util.UUID): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("BearerAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/instances/{instanceId}".replace("{" + "instanceId" + "}", "$instanceId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /instances/{instanceId}/export
        * 导出实例(打包工作目录为归档)
        * 进度经 WS &#x60;download/progress&#x60; 推送,完成后返回下载地址。
         * @param instanceId 实例 id(uuid) 
         * @param exportRequest  (optional)
         * @return JobAccepted
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun exportInstance(instanceId: java.util.UUID, exportRequest: ExportRequest?): HttpResponse<JobAccepted> {

            val localVariableAuthNames = listOf<String>("BearerAuth")

            val localVariableBody = exportRequest

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/instances/{instanceId}/export".replace("{" + "instanceId" + "}", "$instanceId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /instances/{instanceId}
        * 实例详情(配置 + 运行状态)
        * 
         * @param instanceId 实例 id(uuid) 
         * @return InstanceDetail
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun getInstance(instanceId: java.util.UUID): HttpResponse<InstanceDetail> {

            val localVariableAuthNames = listOf<String>("BearerAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/instances/{instanceId}".replace("{" + "instanceId" + "}", "$instanceId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /instances/{instanceId}/log
        * 增量日志拉取(重连回放)
        * &#x60;since&#x60; 为日志行序号(非时间戳),从 0 开始单调递增; 订阅 WS 后实时行由 &#x60;instance/stdout&#x60; 推送,本端点用于断线补拉。 
         * @param instanceId 实例 id(uuid) 
         * @param since 起始行序号(含) (optional, default to 0L)
         * @param limit 最大行数 (optional, default to 5000)
         * @return LogResponse
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun getInstanceLog(instanceId: java.util.UUID, since: kotlin.Long?, limit: kotlin.Int?): HttpResponse<LogResponse> {

            val localVariableAuthNames = listOf<String>("BearerAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            since?.apply { localVariableQuery["since"] = listOf("$since") }
            limit?.apply { localVariableQuery["limit"] = listOf("$limit") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/instances/{instanceId}/log".replace("{" + "instanceId" + "}", "$instanceId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /instances/{instanceId}/outputlog
        * 持久化日志文件内容(完整回放/导出)
        * 返回该实例的日志文件全文(512KB 轮换,最大保留最近两卷)。
         * @param instanceId 实例 id(uuid) 
         * @return kotlin.String
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun getInstanceOutputLog(instanceId: java.util.UUID): HttpResponse<kotlin.String> {

            val localVariableAuthNames = listOf<String>("BearerAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/instances/{instanceId}/outputlog".replace("{" + "instanceId" + "}", "$instanceId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /instances/{instanceId}/process-config
        * 读取实例配置文件(server.properties 等)
        * 按文件名自动选择解析器:properties / yml / json / txt。 大整数以字符串返回避免精度丢失。 
         * @param instanceId 实例 id(uuid) 
         * @param file 配置文件名,如 server.properties(相对实例 cwd) 
         * @return kotlin.collections.Map<kotlin.String, kotlin.String>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun getInstanceProcessConfig(instanceId: java.util.UUID, file: kotlin.String): HttpResponse<kotlin.collections.Map<kotlin.String, kotlin.String>> {

            val localVariableAuthNames = listOf<String>("BearerAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            file?.apply { localVariableQuery["file"] = listOf("$file") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/instances/{instanceId}/process-config".replace("{" + "instanceId" + "}", "$instanceId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /instances/overview
        * 全部实例状态聚合(首页看板)
        * 返回所有实例的概要 + 运行中实例数量,供 UI 首页一次性渲染; 实时变化经 WS &#x60;instance/state&#x60; 事件推送。 
         * @return InstanceOverview
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun getInstancesOverview(): HttpResponse<InstanceOverview> {

            val localVariableAuthNames = listOf<String>("BearerAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/instances/overview",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /instances/{instanceId}/kill
        * 强制结束进程(进程树)
        * 启动后 6 秒内禁止强杀(防误触);跨平台进程树杀死。
         * @param instanceId 实例 id(uuid) 
         * @return void
        */
        open suspend fun killInstance(instanceId: java.util.UUID): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("BearerAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/instances/{instanceId}/kill".replace("{" + "instanceId" + "}", "$instanceId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /instances
        * 实例列表(分页)
        * 
         * @param page 页码,从 1 开始 (optional, default to 1)
         * @param pageSize  (optional, default to 20)
         * @param keyword 按名称模糊过滤 (optional)
         * @return InstancePage
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun listInstances(page: kotlin.Int?, pageSize: kotlin.Int?, keyword: kotlin.String?): HttpResponse<InstancePage> {

            val localVariableAuthNames = listOf<String>("BearerAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            page?.apply { localVariableQuery["page"] = listOf("$page") }
            pageSize?.apply { localVariableQuery["pageSize"] = listOf("$pageSize") }
            keyword?.apply { localVariableQuery["keyword"] = listOf("$keyword") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/instances",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /instances/{instanceId}/restart
        * 重启(停止完成后自动重新启动)
        * 
         * @param instanceId 实例 id(uuid) 
         * @return void
        */
        open suspend fun restartInstance(instanceId: java.util.UUID): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("BearerAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/instances/{instanceId}/restart".replace("{" + "instanceId" + "}", "$instanceId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /instances/{instanceId}/command
        * 程序化发送一行命令(命令框通道)
        * 结构化命令入口,对应终端协议中的 &#x60;input&#x60; 帧; 按实例配置可被替换为 RCON 等实现(附加层)。 
         * @param instanceId 实例 id(uuid) 
         * @param commandRequest  
         * @return void
        */
        open suspend fun sendInstanceCommand(instanceId: java.util.UUID, commandRequest: CommandRequest): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("BearerAuth")

            val localVariableBody = commandRequest

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/instances/{instanceId}/command".replace("{" + "instanceId" + "}", "$instanceId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /instances/{instanceId}/start
        * 启动实例
        * 完整多实例并发:任意数量实例可同时运行,互不干扰。 含首次启动的目录检查、锁与失败兜底 kill。 
         * @param instanceId 实例 id(uuid) 
         * @return void
        */
        open suspend fun startInstance(instanceId: java.util.UUID): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("BearerAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/instances/{instanceId}/start".replace("{" + "instanceId" + "}", "$instanceId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /instances/{instanceId}/stop
        * 优雅停止(发送 stopCommand,默认 ^C)
        * stopCommand 超时(可配,默认 600s)后自动升级为强杀。
         * @param instanceId 实例 id(uuid) 
         * @return void
        */
        open suspend fun stopInstance(instanceId: java.util.UUID): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("BearerAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/instances/{instanceId}/stop".replace("{" + "instanceId" + "}", "$instanceId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * PUT /instances/{instanceId}
        * 更新实例配置
        * 运行中实例的以下字段不可变更(需先停止):startCommand、workingDirectory、 type、terminal.pty、inputEncoding、outputEncoding。其余字段热更新。 
         * @param instanceId 实例 id(uuid) 
         * @param instanceConfig  
         * @return InstanceConfig
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun updateInstance(instanceId: java.util.UUID, instanceConfig: InstanceConfig): HttpResponse<InstanceConfig> {

            val localVariableAuthNames = listOf<String>("BearerAuth")

            val localVariableBody = instanceConfig

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/instances/{instanceId}".replace("{" + "instanceId" + "}", "$instanceId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * PUT /instances/{instanceId}/process-config
        * 写回实例配置文件
        * 
         * @param instanceId 实例 id(uuid) 
         * @param file  
         * @param requestBody  
         * @return void
        */
        open suspend fun updateInstanceProcessConfig(instanceId: java.util.UUID, file: kotlin.String, requestBody: kotlin.collections.Map<kotlin.String, kotlin.String>): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("BearerAuth")

            val localVariableBody = requestBody

            val localVariableQuery = mutableMapOf<String, List<String>>()
            file?.apply { localVariableQuery["file"] = listOf("$file") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/instances/{instanceId}/process-config".replace("{" + "instanceId" + "}", "$instanceId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        }
